.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 43px 60px 0 60px;
}

.Content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
